<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="https://gknb.kg/">
    <button>Candy Shop</button>
</a>
<a href='/about_us/'>
    <button>About US</button>
</a>

<a href='/date_now/'>
    <button>What is time?</button>
</a>

<h1>Hello World</h1>
<h2>{{ color }}</h2>
{% if number == 'five' %}
    <h3>6</h3>
{% else %}
    <h3>No number</h3>
{% endif %}

{% for i in list %}
    {% if i != 1 %}
        <p>{{ i }}</p>
    {% endif %}
{% endfor %}

</body>
</html>